@(review: PullReview)

@main("Pull Review: Betterrev", false, true, false, false) {
    
    <h1>Pull Review: @review.id - Status: TODO</h1>
    
    <p>This pull review corresponds to a <a href="@review.getFullUrl()">bitbucket pull request</a>
    </p>
    
    <dl>
        <dt>Name</dt>
        <dd>@review.name</dd>
        <dt>Repository</dt>
        <dd>@review.repositoryId</dd>
        <dt>Pull Request</dt>
        <dd>@review.pullRequestId</dd>
        <dt>Requester</dt>
        <dd>@review.requester.name</dd>
        <dt>Description</dt>
        <dd>@review.description</dd>
        <dt>Created On</dt>
        <dd>@review.createdOn</dd>
        <dt>Updated On</dt>
        <dd>@review.updatedOn</dd>
        <dt>Mentors:</dt>
        <dd>@review.mentors</dd>
        <dt>Tags:</dt>
        <dd>@review.tags</dd>
        <dt>Lifecycle:</dt>
        <dd>@review.pullReviewEvents</dd>
    </dl>

}
